.project__container{
    padding: 0 var(--space-large);
    margin-top: var(--space-large);

}

.project__title{
    display: grid;
    grid-template-columns: repeat(13,1fr);
    border-bottom: var(--border);
    padding-bottom: var(--space-small);
}
.back{
    max-width: auto;
    display: flex;
    align-items: flex-end;
    padding-top: var(--space);
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
    border: none;
    font-size: var(--text-fontsize);
}
.back__text{
    margin-left: 1.2rem;
}
.project__name{
    text-align: center;
    font-family: var(--title-font);
    font-size: 6.4rem;
    grid-column-start: 5;
    grid-column-end: 10;
    margin: 0;
}
.details{
    padding: 0 var(--space-xlarge);
    margin: var(--space-large) 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.details__container{
    width: 40%;
}
.detail__container{
    margin-left: var(--space-large);
}
.detail{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 0;
    margin-top: var(--space-small);
    font-size: var(--text-fontsize);
}
.detail__text{
    margin-left: var(--space);
}
.detail__description{
    font-size: var(--text-fontsize);
}
.objectives__title{
    font-size: var(--title-fontsize);
    padding: 0 var(--space-xlarge);
}
.objectives{
    padding: 0 var(--space-xlarge);
    font-size: var(--text-fontsize);
    padding-bottom: var(--space-small);
    border-bottom: var(--border);
}
.other__project:not(:first-child){
    margin-left: var(--space);
}

footer{
    margin-top: var(--space-large);
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space);
}
h5{
    font-family: var(--text-font);
    font-size: var(--small-fontsize);
    color: white;
}
.rrss__icon{
    width: 12px;
    height: 12px
}
.rrss__link:not(:first-child){
    margin-left: var(--space);
}

@media (max-width: 1200px){
    .details{
        flex-direction: column;
    }
    .details__container{
        width: 100%;
    }
    .detail__container{
        margin-left: 0;
    }
}
@media (max-width: 800px){
    
    .project__name{
    font-size: var(--title-mobilefontsize);
    grid-column-start: 3;
    grid-column-end: 10;
    }
    .project__container{
        padding: var(--space-large) var(--space);
        margin-top: 0;
    }
    .details{
        padding: var(--space) 0;
        margin-top: 0;
    }
    .detail, .detail__title{
        font-size: var(--text-tabletfontsize);
    }
    .objectives__title{
        margin-top: 0;
        padding: 0;
        font-size: var(--title-mobilefontsize);
    }
    .objectives{
        padding: 0;
    }
    .more__projects--container{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    /* .other__project{
        width: 100%;
    } */
    .more__project{
        width: 100%;
        margin: 0 auto;
    }
    .other__project:not(:first-child){
        margin-top: var(--space);
        margin-left: 0;
    }
}
