.intro{
    color: #393D60;
    margin-top: var(--space-large);
    padding: var(--space-large) var(--space-xlarge);
    display: grid;
    grid-template-columns: repeat(12,1fr)
}
.hello{
    font-size: 64px;
    font-family: Satoshi-Variable;
    margin-bottom: 0px;
}

.helloContainer{
    grid-column-start: 1;
    grid-column-end: 7;
}
.presentationContainer{
    grid-column-start: 8;
    grid-column-end: 13;
    position: relative;
    top: 50%;
}
.subtitle{
    font-family: Satoshi-Variable;
    font-size: 64px;
    font-weight: normal;
    margin-top: 0px;
}
.contactButton{
    border: 2px solid #393D60;
    cursor: pointer;
    color: #393D60;
    font-family: basier_square_monoregular;
    font-size: 24px;
    border-radius: 50px;
    padding: 16px;

    background-color: transparent;
}
.contactButton:hover{
    color:white;
    background-color: #393D60;
}
.contactButton:visited{
    text-decoration: none;
}
.presentationText{
    font-family: basier_square_monoregular;
    font-size: 24px;
}



@media (max-width: 1500px){
    .presentationContainer{
        top: 0;
        margin-top: var(--space);
    }
}
@media (max-width: 1300px){
    .helloContainer{
        grid-column-start: 1;
        grid-column-end: 13;
    }
    .presentationContainer{
        grid-column-start: 1;
        grid-column-end: 13; 
    }
}
@media (max-width: 920px){
    .intro{
        padding-bottom: 0;
    
    }
    .hello{
        font-size: var(--title-tabletfontsize);
    }
    .subtitle{
        font-size: var(--title-tabletfontsize);
    }
    .contactButton{
        font-size: var(--text-mobilefontsize);
        padding: var(--unit);
    }
    .presentationText{
        font-size: var(--text-tabletfontsize)
        
    }
}
@media (max-width: 760px){
    .intro{
        padding: var(--space-large) var(--space);
    }
    .presentationText{
        font-size: var(--text-mobilefontsize);
    }
    .helloContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px){
    
    .hello{
        font-size: var(--title-mobilefontsize);
    }
    .subtitle{
        font-size: var(--title-mobilefontsize);
    }

}