.project__card{
    background-color: var(--image-bgcolor);
    min-height: 300px;
    width: 100%;
    border-radius: 15px;
    border: none;
}
.project__card--title{
    font-size: var(--text-fontsize);
}
.icons{
    display: flex;
    justify-content: center;
}
.icon{
    height: var(--icons-fontsize);
    width: var(--icons-fontsize);
}
.icon:not(:first-child){
    margin-left: var(--space);
}
@media (max-width: 1200px){
        .project__card{
            width: 100%;
            min-width: 350px;
        }
}
