/*=============================================
=            Tipografías                      =
=============================================*/
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('./Fonts/Satoshi-Variable.woff2') format('woff2');
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
}

@font-face {
    font-family: 'basier_square_monoregular';
    src: url('./Fonts/basiersquaremono-regular-webfont.woff2') format('woff2');      
    font-weight: normal;
    font-style: normal;
}

/*=============================================
=            Custom properties                =
=============================================*/

:root{
    --container-bgcolor: linear-gradient(1.67deg, #F5E0A9 -24.41%, rgba(107, 172, 219, 0.5) 119.89%);
    --image-bgcolor: white;
    --title-fontsize: 6.4rem;
    --title-font: Satoshi-Variable;
    --text-fontsize: 2.4rem;
    --text-font: basier_square_monoregular;
    --subtitle-fontsize: 3.2rem;
    --icons-fontsize: 6.4rem;
    --font-color: #393D60;
    --space-large:6.4rem;
    --space: 3.2rem;
    --space-small: 2.4rem;
    --space-xsmall:1.6rem;
    --border:2px solid;
}

/*=============================================
=            Estilos generales            =
=============================================*/

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    font-size: 62.5%;
}
body{
    background-color: white;
}

.container{
    background: var(--container-bgcolor);
    width: 98vw;
    height: 97vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    z-index: -1;
}


