/*=============================================
=            Tipografías                      =
=============================================*/
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('./Fonts/Satoshi-Variable.woff2') format('woff2');
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
}

@font-face {
    font-family: 'basier_square_monoregular';
    src: url('./Fonts/basiersquaremono-regular-webfont.woff2') format('woff2');      
    font-weight: normal;
    font-style: normal;
}

/*=============================================
=            Custom properties                =
=============================================*/

:root{
    --container-bgcolor: linear-gradient(1.67deg, #F5E0A9 -24.41%, rgba(107, 172, 219, 0.5) 119.89%);
}

/*=============================================
=            Estilos generales            =
=============================================*/

*{
    box-sizing: borderbox;
}

html, body{
    width: 100%;
}
body{
    background-color: white;
}

.container{
    background: var(--container-bgcolor);
    width: 98vw;
    height: 97vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
}


